In [54]:
# In this exercise, you are asked to work on the API in the third section of HOP5 (from number 13). 
# You can access json data from the following url: http://jsonplaceholder.typicode.com/users.

# You can use the library ‘requests’ as you did in HOP5.

# From the user data, make a DataFrame df that consists of 
# ‘username’, ‘email’, ‘zipcode’, ‘lat’, ‘lng’, and ‘company_name’. 
# (‘zipcode’ is under ‘address’, ‘lat’, and ‘lng’ are under ‘geo’ under ‘address’, 
# and ‘company_name’ is ‘name’ under ‘company’.)

# Select the rows whose ‘lng’ values are greater than 0 and whose ‘lat’ is less than 0. 
# You may display all the columns. Name it df_a.

# Write an output file of df_a in the csv format named ‘output.csv’.

In [80]:
import pandas as pd
import requests

In [81]:
url='http://jsonplaceholder.typicode.com/users'
res= requests.get(url)

In [82]:
all_users=res.json()
all_users

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [83]:
#get all zipcodes and put into a list
zipcode = [all_users[0]['address']['zipcode'],
          all_users[1]['address']['zipcode'],
          all_users[2]['address']['zipcode'],
          all_users[3]['address']['zipcode'],
          all_users[4]['address']['zipcode'],
          all_users[5]['address']['zipcode'],
          all_users[6]['address']['zipcode'],
          all_users[7]['address']['zipcode'],
          all_users[8]['address']['zipcode'],
          all_users[9]['address']['zipcode']]
print(zipcode)

['92998-3874', '90566-7771', '59590-4157', '53919-4257', '33263', '23505-1337', '58804-1099', '45169', '76495-3109', '31428-2261']

In [84]:
#get all lats and put into a list
lat = [all_users[0]['address']['geo']['lat'],
          all_users[1]['address']['geo']['lat'],
          all_users[2]['address']['geo']['lat'],
          all_users[3]['address']['geo']['lat'],
          all_users[4]['address']['geo']['lat'],
          all_users[5]['address']['geo']['lat'],
          all_users[6]['address']['geo']['lat'],
          all_users[7]['address']['geo']['lat'],
          all_users[8]['address']['geo']['lat'],
          all_users[9]['address']['geo']['lat']]
print(lat)

['-37.3159', '-43.9509', '-68.6102', '29.4572', '-31.8129', '-71.4197', '24.8918', '-14.3990', '24.6463', '-38.2386']

In [85]:
#get all lngs and put into a list
lng = [all_users[0]['address']['geo']['lng'],
          all_users[1]['address']['geo']['lng'],
          all_users[2]['address']['geo']['lng'],
          all_users[3]['address']['geo']['lng'],
          all_users[4]['address']['geo']['lng'],
          all_users[5]['address']['geo']['lng'],
          all_users[6]['address']['geo']['lng'],
          all_users[7]['address']['geo']['lng'],
          all_users[8]['address']['geo']['lng'],
          all_users[9]['address']['geo']['lng']]
print(lng)

['81.1496', '-34.4618', '-47.0653', '-164.2990', '62.5342', '71.7478', '21.8984', '-120.7677', '-168.8889', '57.2232']

In [86]:
#get all company names and put into a list
companyname = [all_users[0]['company']['name'],
          all_users[1]['company']['name'],
          all_users[2]['company']['name'],
          all_users[3]['company']['name'],
          all_users[4]['company']['name'],
          all_users[5]['company']['name'],
          all_users[6]['company']['name'],
          all_users[7]['company']['name'],
          all_users[8]['company']['name'],
          all_users[9]['company']['name']]
print(companyname)

['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC']

In [87]:
# From the user data, make a DataFrame df that consists of 
# ‘username’, ‘email’, ‘zipcode’, ‘lat’, ‘lng’, and ‘company_name’. 
df=pd.DataFrame(all_users, columns=['username', 'email'])
df.loc[:,'zipcode'] = zipcode
df.loc[:,'lat'] = lat
df.loc[:,'lng'] = lng
df.loc[:,'company name'] = companyname
df

,username,email,zipcode,lat,lng,company name
0,Bret,Sincere@april.biz,92998-3874,-37.3159,81.1496,Romaguera-Crona
1,Antonette,Shanna@melissa.tv,90566-7771,-43.9509,-34.4618,Deckow-Crist
2,Samantha,Nathan@yesenia.net,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson
3,Karianne,Julianne.OConner@kory.org,53919-4257,29.4572,-164.2990,Robel-Corkery
4,Kamren,Lucio_Hettinger@annie.ca,33263,-31.8129,62.5342,Keebler LLC
5,Leopoldo_Corkery,Karley_Dach@jasper.info,23505-1337,-71.4197,71.7478,Considine-Lockman
6,Elwyn.Skiles,Telly.Hoeger@billy.biz,58804-1099,24.8918,21.8984,Johns Group
7,Maxime_Nienow,Sherwood@rosamond.me,45169,-14.3990,-120.7677,Abernathy Group
8,Delphine,Chaim_McDermott@dana.io,76495-3109,24.6463,-168.8889,Yost and Sons
9,Moriah.Stanton,Rey.Padberg@karina.biz,31428-2261,-38.2386,57.2232,Hoeger LLC

In [88]:
#turn values of lat and lng columns from string to numeric types
df[["lat", "lng"]] = df[["lat", "lng"]].apply(pd.to_numeric)

In [89]:
#Select the rows whose ‘lng’ values are greater than 0 and whose ‘lat’ is less than 0. 
# You may display all the columns. Name it df_a.

df_a = df.loc[(df["lng"] > 0) & (df["lat"] < 0)]
df_a

,username,email,zipcode,lat,lng,company name
0,Bret,Sincere@april.biz,92998-3874,-37.3159,81.1496,Romaguera-Crona
4,Kamren,Lucio_Hettinger@annie.ca,33263,-31.8129,62.5342,Keebler LLC
5,Leopoldo_Corkery,Karley_Dach@jasper.info,23505-1337,-71.4197,71.7478,Considine-Lockman
9,Moriah.Stanton,Rey.Padberg@karina.biz,31428-2261,-38.2386,57.2232,Hoeger LLC

In [90]:
# Write an output file of df_a in the csv format named ‘output.csv’.
df_a.to_csv('output.csv')